* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif, Roboto;
    font-weight: lighter;
}
@media screen and (min-width: 600px) {
    section:nth-of-type(1) .button .mdi {
        top: 16px;
    }
}
.page-link{
    padding: 10px 20px;
    border: 2px solid rgba(0,0,0,0.6);
    background-color: rgba(0,0,0,.1);
    box-sizing: inherit;
    display: inline-block;
    font-size: 13pt;
    transition: all .5s;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}
.page-link:link{
    color: wheat;
}
.page-link:active{
    color: ghostwhite;
}
.page-link:visited{
    color: black;
}
.nav-link{
    text-decoration: none;
    font-size: 15pt;

}
.nav-link:link{
    color: wheat;
}
.nav-link:active{
    color: ghostwhite;
}
.nav-link:visited{
    color:olive;
}
a:hover{
    background-color: rgba(0,0,0,0.6);
}
.icon{
    position: relative;
    left: 200px;
}
.app-container {
    height: 100vh;
    width: 100vw;
    background-color: #aaa9;
}

.app-container > button {
    position: absolute;
    right: 0;
    padding: 10px;
    margin: 10px;
}
.div--divider{
    background-color: olive;
    height: 0.25em;
}
.header{
    position: absolute;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    left: 200px;
    top: 200px;
}
.header > h2 {
    font-family: Roboto, sans-serif;
    font-size: 30px;
    color: olive;
}
.header > h4 {
    font-family: Roboto sans-serif;
    font-size: 40px;
}
.header > p {
    font-family: Roboto sans-serif;
    font-size: 20px;
    position: relative;
    width: 50vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
.nav {
    height: 100vh;
    width: 200px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
}

.nav > Link {
    font-size: 2em;
}

.nav:hover{
    background: rgba(0,0,0,0.9);
    transition: 800ms
}

.nav-closed {
    left: -200px;
    transition: left 1000ms
}

.nav-open {
    left: 0;
    transition: left 300ms cubic-bezier(0, 1.57, 0.6,-1.2);

}

.overlay{
    width: 100vw;
    height: 100vh;
    background-color: #1119;
    position: absolute;
    overflow-x: hidden;
}
.overlay-open {
    right: 0;
    transition: right 300ms cubic-bezier(0, 1.57, 0.6,-1.2);
    overflow-x: hidden;
}

.overlay-closed {
    right: -100vw;
    overflow-x: hidden;
    transition: right 1000ms;
}
